* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-size: 17px;
  outline: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

a:active,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
  color: #fff;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(-1.3, 1.3);
            transform: scale(-1.3, 1.3);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(-1.3, 1.3);
            transform: scale(-1.3, 1.3);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.container {
  max-width: 1174px;
  margin: auto;
}

.header {
  background-color: #1e364e;
  padding: 1em;
  min-height: 5vh;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1px;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.project__item {
  margin-right: 2rem;
}

.project__link {
  padding: 0.5em;
}

.project__item:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.humburger {
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  top: 5px;
  right: 4vw;
  display: none;
  padding: 0.4rem;
}

.humburger__line {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin-top: 6px;
  border-radius: 4px;
}

.humburger_active .humburger__line:nth-child(1) {
  -webkit-transform: rotate(45deg) translateY(7px);
          transform: rotate(45deg) translateY(7px);
}

.humburger_active .humburger__line:nth-child(2) {
  display: none;
}

.humburger_active .humburger__line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-7px);
          transform: rotate(-45deg) translateY(-7px);
}

.main {
  min-height: 90vh;
  background-color: #18b5bc;
  padding: 8% 0;
}

.main__projects {
  position: absolute;
  width: 200px;
  right: 20vw;
  top: 100px;
  -webkit-animation: scale 2s infinite;
  animation: scale 2s infinite;
}

.main__photo {
  width: 300px;
  height: 300px;
  background: url(../img/myPhoto1.jpg) center center/cover no-repeat;
  border: 2px solid #1e364e;
  border-radius: 50%;
  margin: auto;
}

.main__devider {
  width: 50%;
  height: 3px;
  border-radius: 3px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 4rem;
}

h1 {
  color: #1e364e;
  font-size: 3.5em;
  text-align: center;
  margin-top: 2rem;
}

.title {
  color: #1e364e;
  font-size: 1.9em;
  text-align: center;
}

.social {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__item {
  width: 60px;
  margin: 5px 15px;
  cursor: pointer;
}

.social__link {
  width: 100%;
  padding: 5px;
}

.social__link:hover {
  -webkit-box-shadow: -2px -2px 20px #1e364e;
          box-shadow: -2px -2px 20px #1e364e;
  border-radius: 50%;
  padding: 0;
  -webkit-animation: rotate 3s;
          animation: rotate 3s;
}

.footer {
  height: 5vh;
  width: 100%;
  background-color: #1e364e;
}

.overlay {
  position: fixed;
  top: 0;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.overlay_active {
  display: block;
}

.overlay__modal {
  position: fixed;
  top: 10%;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  width: 650px;
  min-height: 35%;
  border: 1px solid white;
  background-color: #18b5bc;
  border-radius: 4px;
  overflow: hidden;
}

.modal__form {
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modal__header {
  background-color: #1e364e;
  color: white;
  height: 2em;
  text-align: center;
  font-size: 1.5em;
  padding: 0.3em;
}

.modal__input {
  margin: 0 1%;
  width: 30%;
  height: 2em;
  border: 1px solid grey;
  border-radius: 4px;
  margin-bottom: 0.5em;
  text-align: left;
  padding-left: 1em;
}

.modal__textarea {
  height: 6em;
  padding-top: 1%;
  width: 94.5%;
  resize: none;
}

.btn {
  margin-top: 2%;
  padding: 0.8em;
  border-radius: 4px;
  color: white;
  font-size: 0.85em;
  text-transform: uppercase;
  background-color: #1e364e;
  cursor: pointer;
}

@media (max-width: 1300px) {
  .main__projects {
    right: 15%;
    top: 20%;
    position: absolute;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 1020px) {
  .main__projects {
    right: 8%;
  }
}

@media (max-width: 967px) {
  .container {
    max-width: 760px;
  }
  .main__projects {
    width: 150px;
    right: 10%;
    top: 15%;
  }
}

@media (max-width: 800px) {
  .main__projects {
    display: none;
  }
  .overlay__modal {
    width: 400px;
  }
  .modal__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modal__input {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .main {
    padding-bottom: 0;
  }
  .overlay__modal {
    width: 95%;
  }
  .project {
    margin: auto;
    position: fixed;
    left: 0;
    bottom: -100%;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    z-index: 2;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    padding-right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .project_active {
    bottom: 0;
  }
  .project__item {
    font-size: 2em;
    margin-right: 0;
    margin-top: 20px;
  }
  .project__link {
    padding: 1rem 4rem;
  }
  .humburger {
    display: block;
  }
  h1 {
    margin-top: 1rem;
  }
  .main__devider {
    margin-top: 1rem;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 2em;
  }
  .title {
    font-size: 1.5em;
  }
  .social {
    margin-top: 1rem;
  }
  .main__photo {
    width: 200px;
    height: 200px;
  }
}
