@media (max-width: 1300px) {
  .main {
    &__projects {
      right: 15%;
      top: 20%;
      position: absolute;
    }
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 1020px) {
  .main__projects {
    right: 8%;
  }
}
@media (max-width: 967px) {
  .container {
    max-width: 760px;
  }
  .main__projects {
    width: 150px;
    right: 10%;
    top: 15%;
  }
}
@media (max-width: 800px) {
  .main__projects {
    display: none;
  }
  .overlay__modal {
    width: 400px;
  }
  .modal__form {
    flex-direction: column;
    align-items: center;
  }
  .modal__input {
    width: 90%;
  }
}
@media (max-width: 600px) {
  .main {
    padding-bottom: 0;
  }
  .overlay__modal {
    width: 95%;
  }
  .project {
    margin: auto;
    position: fixed;
    left: 0;
    bottom: -100%;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    z-index: 2;
    transition: all 0.5s;
    padding-right: 0;
    flex-direction: column;
    justify-content: space-around;
    &_active {
      bottom: 0;
    }
    &__item {
      font-size: 2em;
      margin-right: 0;
      margin-top: 20px;
    }
    &__link {
      padding: 1rem 4rem;
    }
  }
  .humburger {
    display: block;
  }
  h1 {
    margin-top: 1rem;
  }
  .main {
    &__devider {
      margin-top: 1rem;
    }
  }
}
@media (max-width: 400px) {
  h1 {
    font-size: 2em;
  }
  .title {
    font-size: 1.5em;
  }
  .social {
    margin-top: 1rem;
  }
  .main__photo {
    width: 200px;
    height: 200px;
  }
}
