body {
    background-color: rgb(248, 35, 159);
    color: white;
    font-family: Roboto, sans-serif;
}

h2 {
    text-align: center;
}

main {
    position: relative;
    height: 70vh;
    vertical-align: middle;
}

.button {
    margin: 10% auto;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 15px solid white;
    border-radius: 100%;
    transition: all .2s;
    background-color: rgb(248, 35, 159);
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 82px;
    color: white;
    &:active {
        transform: scale(1.2);
    }
}